<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form">
    <div class="row">
        <form action="#" th:action="@{/student/save}" th:object="${student}"
              method="POST" >
            <input type="hidden" th:field="*{id}" />

            <div class="form-group">
                <label>RollNo</label>
                <input type="text" class="form-control"
                       th:field="*{rollNo}" />
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"
                       th:field="*{name}" />
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" th:field="*{phone}" />
            </div>

            <div class="form-group">
                <label>Department</label>
                <input type="text" class="form-control" th:field="*{department}" />
            </div>

            <div class="form-group">
                <label>First Mid Question-1</label>
                <input type="text" class="form-control" th:field="*{qone}" />
            </div>

            <div class="form-group">
                <label>First Mid Question-2</label>
                <input type="text" class="form-control" th:field="*{qtwo}" />
            </div>

            <div class="form-group">
                <label>First Mid Question-3</label>
                <input type="text" class="form-control" th:field="*{qthree}" />
            </div>

            <div class="form-group">
                <label>Second Mid Question-1</label>
                <input type="text" class="form-control" th:field="*{qfour}" />
            </div>

            <div class="form-group">
                <label>Second Mid Question-2</label>
                <input type="text" class="form-control" th:field="*{qfive}" />
            </div>

            <div class="form-group">
                <label>Second Mid Question-3</label>
                <input type="text" class="form-control" th:field="*{qsix}" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>